.send-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 1rem;
}

.sent-success {
  background-color: rgb(111, 255, 111);
  margin-top: 3rem;
  font-size: 2rem;
  display: block;
  padding: 1rem;
  text-align: center;
  border: 1px solid black
}

.send-btn {
  margin-top: 1.5rem;
}

.text-area-warning {
  width: 25rem;
}

.send-text-variables {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  align-items: flex-start;
}


.send-text-variables-item {
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
} 

.send-text-variables-item label {
  margin-left: -1rem;
}

.send-text-variables-radio {
  margin-bottom: 1rem;
  display: flex;
}

.text-preview {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  width: 70%;
  line-height: 1.5rem;
  background-color: black;
  padding: 1rem
}

.fridge {
  display: flex;
}

.fridge-info {
  margin-right: 4rem;
}

.fridge-info-label {
  color: yellow;
  font-weight: 600;
  margin-bottom: .5rem;
}


.photo-preview {
  border-style: none;
  margin-bottom: 1rem;
  width: 50%;
}

.send-text-original-message {
  margin-left: 2rem;
  border: 1px solid white;
  padding: 1rem;
  display: inline-block;
}

.send-text-time {
  min-width: 120px;
}

.send-text-photo-field {
  width: 17rem;
}

.send-text-photo-field-container {
display: flex;
align-items: center;
margin-top: 1rem;
margin-left: 2rem;
}

.send-text-photo-field-clear {
  color: red;
  cursor: pointer;
  margin-bottom: 5px;
}

.send-text-photo-field-or {
  margin-top: .5rem;
margin-left: 4rem;}

.send-text-photo-field-error {
  border: 3px rgba(241, 78, 78, 0.721) solid;
}

.send-text-photo-error {
  background-color: rgba(241, 78, 78, 0.721);
  padding: 1rem;
}

.send-text-small-photo img {
  max-width: 17rem;
  display: block;
  width: '100%'
  }