.recipe {
  display: flex;
  flex-direction: column;
}

.recipe-body {
  display: flex;
  flex-wrap: wrap;
}

.recipe-text {
  min-width: 200px;
  max-width: 500px;
  flex: 1;
}

.recipe-photo {
  flex: 1;
  width: fit-content;
}

.recipe-img {
  max-height: 600px;
  min-width: 400px;
  max-width: 700px;
  width: 100%;
  padding-left: 1rem;
}

.recipe-admin {
  padding-top: 2rem;
  font-size: .7rem;
}

.recipe-edit {
  color: rgb(8, 8, 153);
  cursor: pointer;
  padding-bottom: 5px;
}

.recipe-delete {
  padding-top: 5px;
  color: rgb(138, 0, 0);
  cursor: pointer;
}


.recipe-title {
  font-size: 3rem;
  border-bottom: black solid 3px;
  width: 75%;
  text-align: center;
}
