.chef-hours {
  margin-bottom: 2rem;
}

.chef-hours h3 {
  margin-bottom: 2rem;
}

.chef-hours-list {
  margin-bottom: 2rem;
  transition: all .4s;
}

.chef-hours-list-closed {
  margin: 0;
  transform: scaleY(.5);
}

.chef-hours-date {
  font-size: 1rem;
  font-weight: 600;
}

.chef-hours-meals {
  background-color: rgba(255, 225, 0, 0.58);
  padding: 5px 7px;
  border-radius: 25px;
}

.chef-hours-edit {
  margin-left: 1rem;
  background-color:rgba(153, 53, 247, 0.346);
  padding: 5px 7px;
  font-size: .7rem;
  border-radius: 25px;
}

.chef-total-meals {
  padding-bottom: 1rem;
}

.chef-cancel {
  margin: 1rem 0;
  color: red;
}

.chef-shifts {
  display: flex;
  flex-wrap: wrap;
}

.chef-images {
  max-width: 40%;
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chef-images img {
  width: 100%;
}

.chef-signup-link {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: rgba(255, 225, 0, 0.567);
}