.cbo {
  background-color: beige;
  color: black;
  padding: 1rem;
}

.cbo-report {
  border: 1px solid grey;
  width: 15rem;
  margin: 1rem;
}

.cbo-report-title {
  text-align: center;
  background-color: aqua;
  border-bottom: 1px solid black;
  padding: 1rem;
  margin: 0;
}

.cbo-report-open {
  width: auto;
}

.cbo-dataset {
  max-width: 50rem;
  padding: 1rem;

}


.cbo-date-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cbo-date-filter-item {
  display: flex;
}