.cbo {
  background-color: beige;
  color: black;
  padding: 1rem;
}


.cbo-title {
  text-align: center;
}

.cbo-dataset {
  padding: 1rem;
  border: 1px solid grey;
  max-width: 50rem;
  margin: 2rem auto;
}