.calendar-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-width: fit-content;
  width: 100%;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: max-content;
  width: 100%;
}

.calendar-day {
  height: fit-content;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 120%;
  width: 100%;
}

.calendar-date {
  border: 1px solid black;
  padding: 0.6vw;
  background-color: rgba(255, 255, 255, 0.291);
  width: 100%;
  box-sizing: border-box;
  min-height: 15vw;
}

.calendar-date-number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15px;
  min-width: 15px;
  height: 2vw;
  width: 2vw;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  background-color: rgb(195, 195, 195);
  border: 1px rgb(109, 109, 109) solid;
  border-radius: 50px;
  font-size: 75%;
}

.calendar-top {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  margin-top: 1rem;
}

.calendar-header-month {
  padding: 0 2rem;
  width: 45vw;
  text-align: center;
}

.calendar-header-arrow {
  cursor: pointer;
  border: 1px grey solid;
  border-radius: 50px;
  padding: 0.2rem 0.6rem;
  background-color: rgb(201, 201, 201);
}

.calendar-header-arrow:hover {
  background-color: rgba(255, 255, 255, 0.382);
}

.calendar-header-arrow:active {
  background-color: rgba(81, 255, 107, 0.382);
}

.calendar-item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5vw 0.6vw;
  margin-bottom: 5px;
  cursor: pointer;
  word-wrap: break-word;
}

.calendar-item:hover {
  filter: brightness(1.2);
}

.calendar-color-0 {
  background-color: rgb(75, 250, 160);
}

.calendar-color-1 {
  background-color: rgb(72, 238, 50);
}

.calendar-color-2 {
  background-color: rgb(208, 250, 20);
}

.calendar-color-3 {
  background-color: rgb(250, 254, 25);
}

.calendar-color-4 {
  background-color: rgb(224, 181, 62);
}

.calendar-color-5 {
  background-color: rgb(239, 137, 86);
}

.calendar-color-6 {
  background-color: rgb(160, 94, 45);
  color: white;
}

.calendar-color-7 {
  background-color: rgb(160, 40, 80);
  color: white;
}

.calendar-color-8 {
  background-color: rgb(150, 0, 60);
  color: white;
}

.calendar-color-9 {
  background-color: rgb(130, 0, 30);
  color: white;
}

.calendar-color-10 {
  background-color: rgb(100, 0, 0);
  color: white;
}

.calendar-set-current {
  font-size: 45%;
}
.calendar-shift-disabled {
  background-color: rgb(202, 202, 202);
  opacity: 0.5;
  cursor: default;
  color: black;
}

.calendar-shift-disabled:hover {
  filter: none;
}

.calendar-meal-program-text {
  font-size: 1.3vw;
}

@media (max-width: 550px) {
  .calendar-item {
    font-size: 2.3vw;
  }
}
