.volunteers {
  background-image: linear-gradient(rgb(173, 220, 215), rgb(75, 190, 161));
}

.volunteers-body {
  margin-top: 2rem;
}

.volunteers-main-header {
  font-size: 2.4rem;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(140, 67, 235);
  letter-spacing: 5.5px;
  width: fit-content;
  text-shadow: rgb(73, 0, 175) -2px 1px 2px;
}

.volunteers-header {
  text-align: center;
  font-size: 2rem;
}

.volunteers-job {
  border: 1px solid black;
  padding: 1.5rem;
  margin-bottom: 2rem;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.231);
  flex: 1;
  min-width: 325px;
  max-width: 800px;
}

.volunteers-job-list {
  display: flex;
  flex-wrap: wrap;
}

.volunteers-job-header {
  font-size: 1.5rem;
}

.volunteers-signup-confirm {
  margin: 1rem;
}

.volunteers-signup-btns {
  margin-top: 2rem;
}

.volunteers-shift-signup-links {
  display: flex;
  justify-content: center;
}

.volunteers-shift {
  font-size: 1rem;
  padding: 0.5rem;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.3s;
  line-height: 1.5rem;
  border-top: grey 1px solid;
}

.volunteers-shift-volunteers-needed {
  font-style: italic;
}

.volunteers-shift > * {
  margin-right: 3rem;
}

.volunteers-shift > *:last-child {
  margin-right: 0;
}

.volunteers-shift:hover,
.volunteers-shift:active {
  background-color: rgba(240, 248, 255, 0.5);
}

.volunteers-shift-date-time {
  color: rgb(57, 57, 57);
  font-size: 0.9rem;
}

.volunteer-signup {
  padding: 0 1rem;
}

.volunteers-shift-space {
  margin: 0 1rem;
}

.volunteers-shift-checkmark {
  font-size: 0.8rem;
  color: rgb(179, 255, 179);
  background-color: rgba(94, 94, 94, 0.634);
  padding: 0.1rem 0.4rem;
  text-align: center;
  border-radius: 20px;
}

.volunteers-calendar-checkmark {
  color: rgb(179, 255, 179);
  background-color: rgba(94, 94, 94, 0.634);
  padding: 5px;
  width: fit-content;
  margin-top: 1vw;
}

.volunteers-calendar-spots {
  font-size: 1.8vw;
  font-style: italic;
  margin-top: 3px;
}

.volunteers-email-field {
  width: 100%;
  max-width: 300px;
}

.volunteers-email-display {
  display: flex;
  align-items: center;
}

.volunteers-email-display p {
  margin-left: 1rem;
}

.text-small {
  font-size: 0.8rem;
}

.volunteers-unavailable {
  color: grey;
  cursor: auto;
}

.volunteers-unavailable:hover {
  background-color: transparent;
}

.volunteers-kitchen-home {
  display: flex;
  flex-direction: column;
}

.volunteers-photo-frame {
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: rgba(240, 240, 240, 0.4);
}

.volunteers-kitchen-home-photo {
  width: 85%;
  max-width: 600px;
  margin-bottom: 1rem;
  object-fit: cover;
}

.volunteers-kitchen-signup-photos {
  display: flex;
  margin: 2rem 0;
  justify-content: center;
}

.volunteers-kitchen-signup-photo {
  max-height: 33vw;
  box-sizing: border-box;
  object-fit: cover;
}

.volunteers-event-photo {
  width: 500px;
  max-width: 100%;
  max-height: max-content;
}

.volunteers-home-img {
  width: 100%;
  max-width: 700px;
  align-self: center;
  padding-top: 2rem;
}

.volunteers-home {
  display: flex;
  flex-direction: column;
}

.volunteers-kitchen-header {
  color: purple;
  font-size: 2rem;
}

.volunteers-signin {
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
}

.volunteers-signin-field {
  display: flex;
  align-items: center;
}

.volunteers-signin-field label {
  font-weight: 700;
}

.volunteers-signin-field-name {
  margin-top: 2rem;
}

.volunteers-home-section {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.volunteers-home-section-title {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
  padding-bottom: 1rem;
}

.volunteers-home-section-body {
  padding-left: 2rem;
}

.volunteers-driver-info-btn {
  display: flex;
  justify-content: center;
}

.volunteers-home-ad {
  margin-bottom: 2rem;
  max-width: 30rem;
  background-color: white;
  padding: 1rem;
}

.volunteers-home-ad img {
  object-fit: contain;
  width: 100%;
  border-bottom: 1px grey solid;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .volunteers-kitchen-signup-photo {
    display: none;
  }

  .volunteers-kitchen-signup-photo:first-child {
    display: flex;
    max-height: 100vw;
    width: 100%;
    object-fit: contain;
  }

  .volunteers-photo-frame {
    padding: 0.5rem;
  }

  .volunteers-shift-checkmark {
    margin: 10px;
  }

  .volunteers-home-section-title {
    text-align: center;
  }

  .volunteers-home-section-body {
    padding-left: 0;
  }
}

.vol-doorfront-form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 300px;
}

.vol-driver-option {
  margin: 3rem 0;
}

.vol-driver-btn {
  width: fit-content;
}

.vol-drivers {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.vol-campaign-description {
  padding: 1rem 1.5rem;
  line-height: 1.3rem;
  margin: 0 auto;
  max-width: 600px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.491);
  text-align: center;
  margin-bottom: 2rem;
}
