.feedback-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-top: 2rem;
}

.feedback-item {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
  max-width: 400px;
  margin-bottom: 2rem;
  position: relative;
}

.feedback-field {
  color: yellow;
}

.feedback-line {
  margin-bottom: .5rem;
}

.feedback-line p {
  margin-left: 1rem;
  padding: 1rem;
}

.feedback-delete {
  color: rgb(255, 120, 145);
  border: rgb(255, 120, 145) 1px solid;
  position: absolute;
  right: 3%;
  bottom: 7%;
  border-radius: 50%;
  padding: .2rem .6rem;
  cursor: pointer;
}
