.feedback-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-top: 2rem;
}

.feedback-item {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
  max-width: 400px;
  margin-bottom: 2rem;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.feedback-item img {
  max-width: 100%;
  padding: 1rem;
}

.feedback-field {
  color: yellow;
}

.feedback-line {
  margin-bottom: .5rem;
}

.feedback-line p {
  margin-left: 1rem;
  padding: 1rem;
}

.feedback-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.feedback-delete {
  background-color: rgba(238, 38, 75, 0.637);
}

.feedback-cancel {
  margin-left: 1rem;
  background-color: rgba(238, 38, 75, 0.637);
}

.feedback-response {
  background-color: rgba(102, 170, 180, 0.421);
  padding: .5rem;
}