.send-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.sent-success {
  background-color: rgb(111, 255, 111);
  margin-top: 3rem;
  font-size: 2rem;
  display: block;
  padding: 1rem;
  text-align: center;
  border: 1px solid black
}

.send-btn {
  margin-top: 1.5rem;
}

.text-area-warning {
  width: 25rem;
}

.send-text-variables {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  align-items: flex-start;
}


.send-text-variables-item {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.send-text-variables-radio {
  margin-bottom: 1rem;
  display: flex;
}

.text-preview {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  width: 70%;
  line-height: 1.5rem;
  background-color: black;
  padding: 1rem
}

.fridge {
  display: flex;
}

.fridge-info {
  margin-left: 1.5rem;
  margin-right: .5rem;
  color: yellow;
  font-weight: 600;
}

#photo {
  display: none;
}

.file-input {
  height: 1rem;
  width: 6rem;
  font-size: .8rem;
  color: black;
  background-color: white;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.file-input-container {
  display: flex;
  align-items: center;
}

.file-name {
  font-size: .8rem;
  color: yellow
}

.file-delete {
  color: red;
  margin-left: 1rem;
  cursor: pointer;
}

.photo-preview {
  border-style: none;
  margin-bottom: 1rem;
  width: 50%;
}
