.send-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.sent-success {
  background-color: rgb(111, 255, 111);
  margin-top: 3rem;
  font-size: 2rem;
  display: block;
  padding: 1rem;
  text-align: center;
  border: 1px solid black
}

.text-area {
  width: 25rem;
  height: 10rem;
  word-wrap: normal;
}

.text-area-warning {
  width: 25rem;
}

.send-text-variables {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  align-items: flex-start;
}

label {
  margin-bottom: .5rem;
}

.send-text-variables-item {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.text-preview {
  margin-bottom: 2rem;
  width: 50%;
}