

.file-success {
  margin-bottom: 3rem;
}


.meal-program-checklist {
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.meal-program-checklist li {
  font-weight: 600;
  margin: .5rem 0;
  padding: .5rem;
  border-radius: 25px;
  width: fit-content;
  transition: all .6s;
}

.meal-program-checklist a:hover {
  background-color: rgba(255, 255, 255, 0.455);
}

.completed-doc li {
  padding: .5rem;
  color: rgb(0, 76, 0);
}

.incomplete-doc li {
  color: rgb(78, 0, 19);
}

.incomplete-doc li:hover {
  background-color: rgba(240, 248, 255, 0.432);
}

.meal-program-status-active {
  padding: 1rem;
  margin: 1rem 0;
  background-color: rgba(43, 255, 43, 0.332);
}

.bold {
  font-weight: 600;
}

.meal-file-row {
  display: flex;
  align-items: center;
}

.meal-file-upload {
  width: 70%;
}

.meal-file-info {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-grow: 1;
  margin: 1rem;
  padding: 1rem;
  width: 30%;
  border: 1px solid white;
}

.outstanding {
  background-color: rgba(228, 26, 76, 0.508);
}

.completed {
  background-color: rgba(8, 181, 8, 0.565);
}


.file-form {
  display: flex;
  flex-direction: column;
}

.date-picker {
  width: 200px;
}
