.file-form {
  display: flex;
  flex-direction: column;
}

.date-picker {
  width: 200px;
}

.meal-file-row {
  display: flex;
}

.meal-file-upload {
  width: 70%;
}

.meal-file-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  width: 30%;
  border: 1px solid white;
}

.outstanding {
  background-color: rgba(228, 26, 76, 0.508);
}

.completed {
  background-color: rgba(8, 181, 8, 0.565);
}