.calendar {
  display: grid;
  grid-template-columns: repeat(7, 13vw);
  grid-auto-rows: minmax(12rem, max-content);
  min-width: fit-content;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 13vw);
  grid-template-rows: max-content;
}

.calendar-day {
  height: fit-content;
  text-align: center;
  margin-bottom: .5rem;
  font-size: 2vw;
}

.calendar-date {
  border: 1px solid black;
  padding: .6vw;
  background-color: rgba(255, 255, 255, 0.291);
}

.calendar-date-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
  width: 2vw;
  margin-bottom: .5rem;
  padding: .3rem;
  background-color: rgb(195, 195, 195);
  border: 1px rgb(109, 109, 109) solid;
  border-radius: 50px;
  font-size: 1.5vw;
}

.calendar-top {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  margin-top: 1rem;
}

.calendar-header-month {
  padding: 0 2rem;
  width: 25rem;
  text-align: center;
}

.calendar-header-arrow {
  cursor: pointer;
  border: 1px grey solid;
  border-radius: 50px;
  padding: .2rem .6rem;
  background-color: rgb(201, 201, 201);
}

.calendar-header-arrow:hover {
  background-color: rgba(255, 255, 255, 0.382);
}

.calendar-header-arrow:active {
  background-color: rgba(81, 255, 107, 0.382);
}

.calendar-item {
  border: 1px solid black;
  border-radius: 5px;
  padding: .5vw .6vw;
  font-size: 1.8vw;
  margin-bottom: 5px;
  cursor: pointer;
  word-wrap: break-word;
}



.calendar-job-0 {
  background-color: rgb(193, 255, 193);
}

.calendar-job-0:hover {
  background-color: rgb(157, 225, 157);
}

.calendar-job-1 {
  background-color: rgb(255, 197, 255);
}

.calendar-job-1:hover {
  background-color: rgb(255, 230, 255);
}

.calendar-job-2 {
  background-color: rgb(193, 199, 255);
}

.calendar-job-2:hover {
  background-color: rgb(159, 157, 225);
}

.calendar-job-3 {
  background-color: rgb(255, 212, 197);
}

.calendar-job-3:hover {
  background-color: rgb(255, 238, 230);
}

.calendar-job-4 {
  background-color: rgb(248, 255, 193);
}

.calendar-job-4:hover {
  background-color: rgb(225, 219, 157);
}

.calendar-job-5 {
  background-color: rgb(245, 137, 255);
}

.calendar-job-5:hover {
  background-color: rgb(255, 230, 234);
}

.calendar-job-6 {
  background-color: rgb(34, 255, 222);
}

.calendar-job-6:hover {
  background-color: rgb(175, 252, 240);
}

.calendar-job-7 {
  background-color: rgb(255, 197, 255);
}

.calendar-job-7:hover {
  background-color: rgb(255, 230, 255);
}

.calendar-job-8 {
  background-color: rgb(193, 199, 255);
}

.calendar-job-8:hover {
  background-color: rgb(159, 157, 225);
}

.calendar-job-3 {
  background-color: rgb(255, 212, 197);
}

.calendar-set-current {
  font-size: 12px;
}
.calendar-shift-disabled {
  background-color: rgb(202, 202, 202);
  opacity: .5;
  cursor:default
}

.calendar-shift-disabled:hover {
  background-color: rgb(202, 202, 202);
}