.shift-signup {
  padding-bottom: 10rem;
}

.shift-signup-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shift-signup-links {
  display: flex;
}

.shift-detail {
  margin-top: 2rem;
  margin-left: 2rem;
}


.shift-detail h3 {
  border-top: solid 1px rgb(113, 19, 103);
  margin-top: 1rem;
  padding-top: 2rem;
}



.shift-detail-submit {
  width: fit-content
}

.signup-form-meal-count {
  display: flex;
}

.signup-form-item {
  margin-bottom: 1rem;
}

.signup-form-input {
  margin-left: 1rem;
  width: 2.5rem;
  text-align: center;
}

.signup-form-meal-type-option {
  margin-left: 1rem;
}

.signup-form-notes {
  font-size: .9rem;
  padding: 1rem;
  max-width: 25rem;
}

@media (max-width: 500px) {
  .shift-signup-form {
    margin: 0;
  }

  .shift-detail-meal-number-note {
    margin: .5rem 0;
  }
}

.shift-detail-meal-number-note {
  font-size: .8rem;
}

