.shift-signup {
  padding-bottom: 10rem;
}

.shift-signup-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shift-signup-links {
  display: flex;
}

.shift-detail {
  margin-top: 2rem;
  margin-left: 2rem;
}

.shift-detail h3 {
  border-top: solid 1px rgb(113, 19, 103);
  margin-top: 1rem;
  padding-top: 2rem;
}

.shift-detail-submit {
  width: fit-content;
}

.signup-form-meal-count {
  display: flex;
}

.signup-form-item {
  margin-bottom: 1rem;
}

.signup-form-input {
  margin-left: 1rem;
  width: 2.5rem;
  text-align: center;
}

.signup-form-meal-type-option {
  margin-left: 1rem;
}

.signup-form-notes {
  font-size: 0.9rem;
  padding: 1rem;
  max-width: 25rem;
}

.deliver-to-kitchen-btn {
  display: flex;
  border: purple 2px solid;
  padding: 1rem;
  margin: 1.5rem auto;
  width: fit-content;
  font-weight: 600;
  box-shadow: -0.3rem 0.2rem 0.5rem rgba(0, 0, 0, 0.56);
  background-color: rgb(219, 155, 232);
}

.deliver-to-kitchen {
  margin-left: 2rem;
}

.deliver-to-kitchen p {
  max-width: 600px;
}

.home-chef-survey {
  border: 2px grey solid;
  width: fit-content;
  padding: 2rem;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .shift-signup-form {
    margin: 0;
  }

  .shift-detail-meal-number-note {
    margin: 0.5rem 0;
  }
}

.shift-detail-meal-number-note {
  font-size: 0.8rem;
}
