.shift-signup {
  padding-bottom: 10rem;
}

.shift-signup-links {
  display: flex;
}

.shift-detail {
  margin-top: 3rem;
margin-left: 2rem;
border-left: solid 1px rgb(161, 30, 148);
padding-left: 2rem;
}

.signup-form-date {
  color: rgb(161, 30, 148);
  font-size: 2rem;
padding-left: 1rem;
}

.signup-form-fridge {
  color: rgb(161, 30, 148);
}

.shift-detail h3 {
  margin-top: 1rem;
}

.shift-signup-form {
  padding-top: 1rem;
  margin-left: 2rem;
}