.job-container {
  border-bottom: 1px solid grey;
  padding: 1rem 0;
}

.region-name {
  text-decoration: underline;
  text-align: center;
  padding-bottom: 1rem;
}

.job-name {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3rem;
  display: flex;
  align-items: baseline;
  margin-bottom: 2rem;
}

.job-name-small {
  font-size: 0.8rem;
  color: purple;
}

.job-location {
  margin-left: 2rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
  width: 10rem;
}

.job-listing {
  display: flex;
  align-items: baseline;
  border-top: 1px solid black;
  padding: 0.5rem 0;
}

.shift-list {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.closed {
  transform: scaleY(0.05) translateY(-60%);
  margin-bottom: 0;
}

.job-full {
  margin: 0.5rem 3rem 0.5rem 2rem;
  color: red;
}

.job-date {
  font-size: 1.3rem;
}

.job-date-full {
  color: grey;
}

.job-time {
  margin-left: 1rem;
  font-size: 0.8rem;
}

.job-name-inactive {
  margin-left: 3.5rem;
  color: rgb(69, 69, 69);
  font-style: italic;
  cursor: auto;
}

.job-disabled {
  margin-left: 2rem;
  color: rgb(121, 48, 60);
}

.home-chef-fridges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-chef-fridges-region {
  flex: 1;
  max-width: 40rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  margin-bottom: 3rem;
}

.job-notes {
  font-size: 0.9rem;
}

.deliver-to-kitchen-btn {
  display: flex;
  border: purple 2px solid;
  padding: 1rem;
  margin: 1.5rem auto;
  width: fit-content;
  font-weight: 600;
  box-shadow: -0.3rem 0.2rem 0.5rem rgba(0, 0, 0, 0.56);
  background-color: rgb(219, 155, 232);
}

.deliver-to-kitchen {
  margin-left: 2rem;
}

.deliver-to-kitchen p {
  max-width: 600px;
}
