.job-container {
  transition: all 1s;
}

.job-name {
  display: flex;
  align-items: center;
}

.expand-btn {
  margin-right: 1rem;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.job-listing {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.jobs-list {
  margin: 1.5rem;
}

.shift-list {
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.job-location {
  margin-left: 3rem;
}