.job-container {

}

.job-name {
  display: flex;
  align-items: center;
}

.job-name-small {
  font-size: .8rem;
  color: purple
}

.expand-btn {
  margin-right: 1rem;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all .3s;
}

.expanded {
  transform: rotate(90deg);
}

.job-listing {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding: .5rem 0;
}

.jobs-list {
  margin: 1.5rem;
}

.shift-list {
  display: flex;
  flex-direction: column;
  transition: all .5s;
  margin-left: 2.5rem;
}

.closed {
  transform: scaleY(.05) translateY(-60%);
}

.job-location {
  margin: .5rem 0 1rem 4rem;
  color: purple;
  font-size: .9rem;
}

.job-full {
  margin: .5rem 3rem .5rem 2rem;
  color: red;
}
.job-date {
  font-size: 1.3rem;
}

.job-date-full {
  color: grey;
}

.job-time {
  margin-left: 1rem;
}