.orientation-video {
  max-width: 700px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.orientation-slides-container {
  display: flex;
  flex-direction: column;
}

.orientation-slides {
  max-width: 100%;
  margin-bottom: 2rem;
  align-self: center;
}

.food-handler {
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
}