.home-chef {
  background-image: linear-gradient(rgb(177, 221, 240), rgb(103, 128, 230));
}

.home-chef-status {
  background-color: rgba(255, 234, 0, 0.505);
  padding: 1rem;
  margin-bottom: 2rem;
}

.job-name {
  display: flex;
  align-items: center;
}


.expand-btn {
  margin-right: 1rem;
  background-color: white;
  min-width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all .3s;
}

.expanded {
  transform: rotate(90deg);
}

.hc-home {
  display: flex;
  align-items: flex-start;
}

@media(max-width: 500px) {
  .hc-home {
    flex-direction: column;
    flex-flow: column-reverse;
    align-items: center;
  }
}

.hc-home-photo {
  max-width: 100%;
  justify-self: center;
}

.hc-home-active-status {
  font-size: .8rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  color: rgb(54, 54, 54);
}

.home-chef-total-meals {
  background-color: rgba(167, 241, 230, 0.457);
  display: inline-block;
  border: blue 1px solid;
  border-radius: 25px;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.3rem;
  text-align: center;
}

.home-chef-home-right-col {
  
  max-width: 30%;
  margin-left: 4rem;
}