.home-chef {
  background-image: linear-gradient(rgb(177, 221, 240), rgb(103, 128, 230));
}

.home-chef-status {
  background-color: rgba(255, 234, 0, 0.505);
  padding: 1rem;
  
}

.job-name {
  display: flex;
  align-items: center;
}



.expand-btn {
  margin-right: 1rem;
  background-color: white;
  min-width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all .3s;
}

.expanded {
  transform: rotate(90deg);
}