.resources {
  display: flex;
  flex-wrap: wrap;
}

.resources-image {
  max-width: 30%;
}

@media (max-width: 1000px) {
  .resources {
    justify-content: center;
  }

  .resources-image {
    max-width: 80%;
  }
}

.label-photo {
  width: 500px;
  margin-bottom: 2rem;
}