.admin {
  background-color: brown;
  color: white;
}

.admin-item {
  border: 2px solid rgb(189, 255, 253);
  padding: 1rem;
  margin-right: 2rem;
  height: fit-content;
  width: fit-content;
}

.admin-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.create-main {
  display: flex;
  flex-wrap: wrap;
}

.alert-box {
  height: 200px;
  color: black
}

.admin-form textarea {
  height: 200px;
  width: 300px;
  margin-bottom: 2rem;
}

.admin-form label {
  margin-top: 1rem;
}