.doorfront-btns {
  margin: 1rem 0;
  display: flex;
}

.doorfront-btn {
  border-radius: 50px;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  margin: 1rem;
}

.doorfront-base {
  background-color: rgb(74, 38, 11);
  color: white;
}

.doorfront-base h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 5rem;
}

.doorfront-btn-add {
  background-color: rgb(68, 193, 68);
}

.doorfront-btn-sub {
  background-color: rgb(203, 119, 119);
}

.doorfront-btns button {
  height: 3rem;
  width: 3rem;
}

.doorfront-scan-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doorfront-scan {
  display: flex;
  flex-direction: column;
}

.doorfront-content {
  margin-bottom: 2rem;
}

.doorfront-nav {
  margin: 2rem;
}

.doorfront-nav button {
  margin-bottom: 1rem;
}

.doorfront-text-input {
  max-width: 10rem;
}

.doorfront-camera-scanner {
  height: 20rem;
  width: 30rem;
}

.doorfront {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.doorfront-submit-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin-top: 1rem;
}

.doorfront-submit {
  font-size: 2.5rem;
  border-radius: 25px;
  padding: 1rem 1.5rem;
}

.doorfront-col {
  width: 40%;
  min-width: 20rem;
  border: white 1px solid;
  padding: 1rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doorfront-alert {
  font-weight: 600;
  margin-bottom: 1rem;
  color: rgb(246, 174, 245);
}

.doorfront-scan-now {
  border: white 1px solid;
  max-width: 400px;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  font-weight: 600;
}

.doorfront-scan-input {
  opacity: 0;
}

.doorfront-meal-count {
  color: yellow;
  font-size: 2rem;
}

.doorfront-client {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.doorfront-client {
  margin-bottom: 1rem;
  border-bottom: 1px white solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.doorfront-client-label,
.doorfront-client-value {
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 10rem;
}

.doorfront-client-row {
  display: flex;
  align-items: baseline;
}

.doorfront-client-missing {
  border: 1px solid red;
  background-color: pink;
}

.doorfront-past {
  min-width: 5rem;
  max-width: 15rem;
  height: fit-content;
}

.doorfront-past-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.doorfront-past-header-arrow {
  padding-right: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.doorfront-modal {
  position: absolute;
  background-color: rgb(43, 43, 109);
  padding: 1rem;
  z-index: 100;
  top: 0;
  border: white 2px solid;
}

.doorfront-delete-container {
  position: relative;
}

.doorfront-delete-text {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.doorfront-delete-btns {
  display: flex;
}

.doorfront-past-meals-row {
  display: flex;
  margin: 10px 0;
}

.doorfront-delete-meal {
  margin-left: 20px;
  color: red;
  background-color: white;
  font-weight: 800;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}
