.driver-license-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: 5rem;
  max-width: 25rem;
}

.driver-license-form input[type="date"] {
  width: 10rem;
}

.driver-btns {
  padding-top: 2rem;
}

.driver-date-input {
  display: flex;
  font-weight: 600;
}

.driver-file-error {
  background-color: rgba(255, 0, 0, 0.46);
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-weight: 600;
}

.driver-onboarding {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 800px;
}

.driver-onboarding-text {
  background-color: rgba(255, 255, 255, 0.365);
}

.driver-onboarding p {
  padding: 1rem 2rem;
}

.driver-onboarding button {
  margin-top: 1rem;
}

.driver-onboarding-home {
  width: 100%;
}

.driver-onboarding-car {
  padding: 1rem;
}

.driver-onboarding-car-field {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.driver-onboarding-car-field label {
  width: 5rem;
}

.driver-settings {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid grey;
}

.driver-settings-header {
  text-align: center;
}

.driver-settings-date {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: rgb(91, 241, 91);
  width: fit-content;
  padding: 0.5rem 0.9rem;
}

.driver-settings-expired {
  background-color: rgb(215, 109, 109);
}

.driver-settings-update {
  display: flex;
  flex-direction: column;
}

.driver-car-sizes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  max-width: 45rem;
}

.driver-car-size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  box-sizing: border-box;
  border: 5px rgb(180, 180, 180) solid;
  background-color: rgb(180, 180, 180);
  box-shadow: -0.2rem 0.1rem 0.5rem rgba(0, 0, 0, 0.424);
  margin: 0.5rem;
  cursor: pointer;
}

.driver-car-size-selected {
  border: 5px solid rgb(78, 239, 78);
  background-color: rgb(78, 239, 78);
}

.driver-car-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.driver-car-text {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: grey 1px solid;
  font-weight: 600;
}

.driver-car-cambro-container {
  position: relative;
  width: 30%;
  max-width: 40rem;
  min-width: 20rem;
  margin: 0.6rem;
}

.driver-car-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1rem;
}

.driver-car-cambro-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.driver-car-cambro-row {
  display: flex;
  flex-wrap: wrap;
}

.driver-car-cambro-label {
  background-color: yellow;
  border: black 2px solid;
  width: fit-content;
  padding: 0.4rem 0.7rem;
  font-weight: 600;
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.driver-car-model {
  bottom: 1.5rem;
  top: auto;
  text-align: center;
  font-size: 1.2rem;
}

.driver-car-size-label {
  height: 40%;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.driver-app-info {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.driver-app-text {
  display: flex;
  flex-wrap: wrap;
}

.driver-app-text > * {
  width: 13rem;
  margin: 1rem;
}

.driver-app-text li {
  padding: 0.5rem;
}

.driver-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.driver-app-qr-code {
  height: 4rem;
}

.driver-app-instructions-photo {
  width: 100%;
}
