.home {
  background-image: linear-gradient(rgb(20, 1, 130), rgb(1, 43, 65));
  color: white;
  display: flex;
  flex-direction: column;
}

.style-img {
  background-color: white;
  width: 300px;
  padding: 10px;
}

.contest-table {
  max-width: 20rem;
  border: 1px solid white;
  border-collapse: collapse;
}

.contest-table td {
  border: 1px solid white;
  padding: 0.3rem;
}
