.event-job {
  color: purple;
  font-weight: 600;
  padding: 1rem;
  width:fit-content
}

.event-job:hover {
  background-color: rgba(240, 248, 255, 0.326);
}

.event-job p {
  color: black;
  font-weight: 400;
  margin-left: 2rem;
}

.full, .full p { 
  text-decoration: line-through;
  color: rgb(88, 88, 88);
}

.full:hover {
  background-color: transparent;
}

.event-shift-detail {
  border: white 1px solid;
  padding: 1rem
}

.event-shift-detail-submit {
  margin-top: 2rem;
}