.meal-report {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.meal-report-row {
  display: flex;
  border-bottom: 1px solid white;
  width: fit-content;
}

.meal-report-row-container {
  display: flex;
}

.meal-report-col {
  padding: 10px;
  display: flex;
  width: 10rem;
  justify-content: flex-end;
  border-right: 1px solid rgba(255, 255, 255, 0.432);
  align-items: center;
}

.meal-report-header-col {
  cursor: pointer;
}

.meal-report-checkbox {
  display: flex;
  width: 1rem;
}

.meal-report-checkbox * {
  margin: 0;
  height: auto;
}

.meal-reports-dates {
  display: flex;
  margin-bottom: 1rem;
}

.meal-reports-dates input {
  margin: 0;
}

.meal-reports-dates div {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.meal-report-arrow {
  margin-right: 0.5rem;
}

.meal-report-check {
  display: flex;
  align-items: center;
}

.meal-report-col-clickable {
  cursor: pointer;
}

.meal-report-copied-alert {
  background-color: white;
  color: rgb(18, 88, 0);
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 10px;
  margin-right: 1rem;
}

.meal-report-warning {
  padding: 1rem;
  color: yellow;
  font-size: 14px;
}

.meal-report-dots {
  margin: 1rem;
  font-size: 2rem;
  border-radius: 25px;
  height: 1.5rem;
  width: 1.5rem;
  transform: translateY(-20px);
  cursor: pointer;
  display: flex;
}

.meal-report-menu {
  position: absolute;
  top: 10px;
  left: 50px;
  height: fit-content;
  background-color: white;
  color: black;
  cursor: pointer;
  border: red solid 1px;
  z-index: 10;
}
.meal-report-menu-item {
  border: 1px grey solid;
  padding: 0.5rem;
}

.meal-report-menu-container {
  position: relative;
  width: 100%;
}
