.meal-report {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.meal-report-row {
  display: flex;
  border-bottom: 1px solid white;
  width: fit-content;
}

.meal-report-row-container {
  display: flex;
}

.meal-report-col {
  padding: 10px;
  display: flex;
  width: 10rem;
  justify-content: flex-end;
  border-right: 1px solid rgba(255, 255, 255, 0.432);
  align-items: center;
}

.meal-report-header-col {
  cursor: pointer;
}

.meal-report-checkbox {
  display: flex;
  width: 1rem;
}

.meal-report-checkbox * {
  margin: 0;
  height: auto;
}

.meal-reports-dates {
  display: flex;
  margin-bottom: 1rem;
}

.meal-reports-dates input {
  margin: 0;
}

.meal-reports-dates div {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.meal-report-arrow {
  margin-right: 0.5rem;
}

.meal-report-check {
  display: flex;
  align-items: center;
}

.meal-report-col-clickable {
  cursor: pointer;
}

.meal-report-copied-alert {
  color: white;
  background-color: rgb(64, 140, 45);
  font-size: 13px;
  padding: 4px 6px;
  border-radius: 10px;
  margin-right: 1rem;
  display: flex;
  height: 1rem;
  align-self: center;
}

.meal-report-warning {
  padding: 1rem;
  color: yellow;
  font-size: 14px;
}

.meal-report-dots {
  margin: 1rem;
  font-size: 2rem;
  border-radius: 25px;
  height: 1.5rem;
  width: 1.5rem;
  transform: translateY(-20px);
  cursor: pointer;
  display: flex;
}

.meal-report-menu {
  position: absolute;
  top: 10px;
  left: 50px;
  height: fit-content;
  background-color: white;
  color: black;
  cursor: pointer;
  border: red solid 1px;
  z-index: 10;
}
.meal-report-menu-item {
  border: 1px grey solid;
  padding: 0.5rem;
}

.meal-report-menu-container {
  position: relative;
}

.monthly-report {
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

.monthly-report div {
  border-bottom: 1px black solid;
  padding: 0.5rem 1rem;
}

.monthly-report-title {
  font-weight: 600;
}

.monthly-report-sun-mon {
  background-color: rgba(126, 126, 126, 0.444);
  width: fit-content;
  padding: 1rem;
  margin-bottom: 1rem;
}

.monthly-report-footnote {
  font-style: italic;
  font-size: 14px;
  margin-left: 1rem;
}

.doorfront-header {
  margin-bottom: 2rem;
  text-decoration: underline;
}
