.driver-license-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: 5rem;
  max-width: 25rem;
}

.driver-license-form input[type="date"] {
  width: 10rem;
}

.driver-onboarding {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.driver-onboarding-step {
  padding: 0.5rem;
  border-bottom: grey solid 1px;
  color: white;
}

.driver-onboarding-incomplete {
  background-color: rgb(113, 0, 0);
}

.driver-onboarding-incomplete:hover {
  background-color: rgb(152, 15, 15);
}

.driver-onboarding-complete {
  background-color: green;
}

.driver-btns {
  padding-top: 2rem;
}

.driver-date-input {
  display: flex;
  font-weight: 600;
}
