.vol-intake-form {
  max-width: 45rem;
  padding: 2rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.458);
  border-radius: 5px;
}

.vol-intake-form-item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.vol-intake-form-item>input {
  border-radius: 5px;
  border: none;
  padding: .5rem;
  width: 12rem;

}

.vol-intake-form-item>label {
  font-weight: 600;
  width: 8rem;
}

.vol-intake-form-btns {
  margin-top: 2rem;
  width: 100%;
  display: flex;
}
.vol-intake-form-btn>button {
  font-size: 1rem;
}

.vol-intake-form-checkbox {
  display: flex;
  align-items: 'center';
  margin-top: 1.5rem;
}

.vol-intake-form-checkbox>input {
  margin-bottom: 0;
  margin-right: 1rem;
  transform: scale(1.5);
}

.vol-intake-form-description {
  margin-left: 2rem;
  border-left: 1px solid grey;
  padding-left: 1rem;
}