.meal-program-invoice {
background-color: white;
padding: 2rem 1rem;
display: flex;
flex-direction: column;
}

.meal-program-invoice-stripe {
  height: 1rem;
  background-color: rgb(150, 0, 53);
  width: 100%;
}

.meal-program-invoice-header {
  display: flex;
}

.meal-program-invoice p {
  margin: 0;
  font-size: .8rem;
  margin-bottom: 3px;
}

.meal-program-invoice-address {
width: 60%;
margin-bottom: 2rem;
}

.meal-program-invoice h1 {
color: grey
}

.meal-program-invoice h2 {
font-size: .8rem;
color: grey;
margin: 0;
margin-bottom: .5rem;
}

.meal-program-invoice table {
  border-spacing: 0;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
  border-collapse: collapse;
}


.meal-program-invoice th {
  background-color: rgb(150, 0, 53);
  color: white;
  font-size: .8rem;
  text-align: left;
  padding: .5rem;
  border: 1px solid rgb(150, 0, 53);
}


.meal-program-invoice td {
  border: black 1px solid;
  height: 1rem;
  font-size: .8rem;
  padding: 3px;
}

.meal-program-invoice-total {
display: flex;
justify-content: flex-end;
margin-bottom: 1rem;
font-weight: 600;
margin-top: 3rem;
padding: .5rem;
}

.meal-program-invoice-total p {
  margin-left: 1rem;

}