
.meal-program-packaging-link {
  display: flex;
  align-items: center;
  color: rgb(116, 23, 15);
  transition: all .5s;
  padding: 1rem;
  border-radius: 25px;
}

.meal-program-packaging-link:hover {
  background-color: rgba(255, 255, 255, 0.437);
}

.meal-program-packaging-link img {
  object-fit: contain;
  margin-top: 1rem;
  margin-left: 2rem;
}

.meal-program-packaging-title {
  text-decoration: underline;
}

.meal-program-food-label {
  width: 50%
}