.app {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

.retro-link {
  text-decoration: underline;
  cursor: pointer;
}

.retro-link:hover {
  color: blue;
}

.error {
  background-color: red;
  padding: 1rem;
  position: fixed;
  border: solid black 2px;
  top: 1rem;
  left: 23%;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.538);
}

.alert {
  background-color: rgb(167, 255, 167);
}

input,
select {
  padding: 0.3rem;
}

input,
select,
label {
  margin-right: 1.5rem;
  margin-bottom: 0.7rem;
  margin-top: 0;
  height: fit-content;
}

input[type="submit"],
button,
.button {
  background-color: #f9c56c;
  border: 1px solid grey;
  box-shadow: -0.1rem 0.2rem 0.2rem rgba(128, 128, 128, 0.413);
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
  width: max-content;
  color: black;
}

input[type="submit"] {
  margin-top: 1.5rem;
}

input[type="submit"]:hover,
button:hover,
.nav-link-active {
  background-color: #f9e5c1;
}

.nav-button {
  margin-top: 1rem;
  color: black;
}

input[type="submit"]:active,
button:active {
  transform: translateY(5px);
  box-shadow: none;
}

input[type="date"],
input[type="time"] {
  height: auto;
}

.button {
  margin-bottom: 1rem;
}

textarea {
  box-sizing: border-box;
  height: 3rem;
  padding: 0.5rem;
  word-wrap: normal;
  font-size: 1rem;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.page-header {
  padding-bottom: 1rem;
  border-bottom: 3px solid;
  border-color: inherit;
  width: fit-content;
  color: inherit;
}

.btn-inactive {
  background-color: grey;
  cursor: auto;
}

.btn-inactive:hover {
  background-color: grey;
}

.btn-inactive:active {
  transform: none;
}

.col {
  display: flex;
  flex-direction: column;
}

.cancel {
  background-color: rgb(219, 102, 102);
}

.cancel:hover {
  background-color: rgb(232, 132, 117);
}

.cancel-text {
  background-color: rgba(238, 38, 75, 0.637);
  width: fit-content;
  padding: 0.5rem;
}
