.app {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-link {
  font-weight: 600;
  display: block;
  margin: 1rem;
  background-color: white;
  width: 10rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 .3rem .3rem rgb(85, 85, 85);
  transition: all .2s;
  border-radius: 50px;
}

a:visited {
  color: black;
}

.home-link:active {
  transform: translateY(3px);
  box-shadow: -.1rem .2rem .2rem gray;;
}
.home-link:hover {
  background-color: rgb(137, 212, 137);
}

.error {
  background-color: red;
  padding: 1rem;
  position: fixed;
  border: solid black 2px;
  top: 1rem;
  left: 23%;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}

.alert {
  background-color: rgb(167, 255, 167);
}

a {
  text-decoration: none;
}

input, select, label {
  margin-right: 1rem;
  margin-bottom: 1rem;
}


input[type=submit], button {
  background-color: rgb(98, 163, 255);
  border-radius: 50px;
  padding: .5rem 1rem;
  margin-right: 1rem;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(186, 186, 186, 0.562);
  transition: .3s;
}

input[type=submit] {
  margin-top: 1.5rem;
}

input[type=submit]:hover, button:hover {
  background-color: rgb(128, 193, 285);
}

input[type=submit]:active, button:active {
  transform: translateY(5px);
  box-shadow: none;
}


.page-header {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid black;
  width: 50%;
}

.btn-inactive {
  background-color: grey;
}

.btn-inactive:hover {
  background-color: grey;
}

.col {
  display: flex;
  flex-direction: column;
}