.invite-form {
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
}

.invite-textarea {
  height: 500px;
  width: 100%;
}

.invite-email {
  width: 20rem;
}

.form-horizontal {
  display: flex;
  align-items: center;
}

.invite-add-section {
color: rgb(73, 73, 73);
cursor: pointer;
margin-bottom: 2rem;
width: fit-content;
margin-left: 2rem;
}

.invite-add-section:hover {
  text-decoration: underline;
}

.invite-delete-section {
  color: rgb(154, 2, 2);
  cursor: pointer;
  padding-bottom: 10px;
}